/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/


/*
* Section
*
* Arrange spacing
*/

.section {

	@media (min-width: $screen-sm) {
		
	}
	@media (min-width: $screen-md) {
		
	}
}
.profile-phone .section {
	
}
.profile-tablet .section {
	
}
