/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Form
*/
.page-form {

}

/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Form Default
*/
.page-form-default {

}


/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Form Image and Map
*/
.page-form-imagemap {

}


/*
* Mendix Page Template Documentation
* Special styles for presenting Page Template Form Image and Map
*/
.page-form-tabs {

}
