/*
* Mendix Documentation
* Special styles for presenting components
*/


/*
* Listview
*
* Default Mendix Listview Widget. The list view shows a list of objects arranged vertically. Each object is shown using a template
*/

.mx-listview {

	/* Clear search button (overrides load more button stying) */
	.mx-button.mx-listview-clear-button {
		width: auto;
	}

	/* Load more button */
	> .mx-button {

	}
	.mx-listview-list {
		
	}
	.mx-listview-item {

		&:hover {
			
		}
		&.selected {
			

			&:hover {
				
			}
		}
		&:nth-child(2n+1) {
			
		}
	}
}


/*
* Listview Hover
*
* Default Mendix Listview Widget with hover
*/
.listview-hover.mx-listview {
	.mx-listview-item {
		&:hover,
		&:active {
			
		}
	}
}

/*
* Listview Lined
*
* Default Mendix Listview Widget with only border bottom in listview item
*/
.listview-lined.mx-listview {
	.mx-listview-item {

		&:first-child {
			
		}
		&:last-child {
	
		}
	}
}


/*
* Listview Striped
*
* Default Mendix Listview Widget with striped listview items
*/
.listview-striped.mx-listview {
	.mx-listview-item:nth-child(2n+1) {
		
	}
}


/*
* Listview Seperated
*
* Default Mendix Listview Widget with listview items seperated
*/
.listview-seperated.mx-listview {
	.mx-listview-item {

	}
}


/*
* Listview Stylingless
*
* Default Mendix Listview Widget without styling
*/
.listview-stylingless.mx-listview {
	.mx-listview-item {
		
		&:hover {
			
		}
		&.selected {

			&:hover {
				
			}
		}
	}
}	
	