/*
* Mendix Documentation
* Special styles for presenting components
*/


/*
* Navigation
*
* Default Mendix Navigation Bar
*/
.mx-navbar {

	ul.nav { 

		/* Navigation item */
		> li.mx-navbar-item > a {

			/* Dropdown arrow */
			.caret {

			}

			&:hover,
			&:focus,
			&.active {

				.caret {

				}
			}
			&.active {

            }

			/* Dropdown Menu */
			.mx-navbar-submenu:before {

			}

			img {

			}
		}

		/* When hovering or the dropdown is open */
		> .mx-navbar-item > a:hover, 
		> .mx-navbar-item > a:focus,
		> .mx-navbar-item.active a,
		> .mx-navbar-item.open > a, 
		> .mx-navbar-item.open > a:hover, 
		> .mx-navbar-item.open > a:focus {

			.caret {

			}
		}
		> .mx-navbar-item.open .dropdown-menu > li.mx-navbar-subitem.active a {

			.caret {

			}
        }
	}

	@media (max-width: $screen-sm) {
		ul.nav > li.mx-navbar-item > a {

		}
		.mx-navbar-item.open .dropdown-menu {
			
			> li.mx-navbar-subitem > a {

				&:hover,
				&:focus {

				}

				&.active {

				}
			}
		}
	}
}


/*
* Navigation
*
* Default Mendix Navigation Tree
*/
.mx-navigationtree {

	/* Navigation item */
	.navbar-inner ul {

		li {

			a {

				.caret {

				}

				img {

				}
			}

			a:hover,
			a:focus,
			a.active {

				.caret {

				}
			}

            a.active {
 
            }
		}
	}

	/* Sub navigation item */
	li.mx-navigationtree-has-items {
		> ul {

			li {

				a {

					&:hover,
					&:focus,
					&.active {

					}
					&.active {
	
		            }
				}
			}
		}
	}
}


/*
* Navigation
*
* Default Mendix Simple Menu Bar
*/
.mx-menubar {

	ul.mx-menubar-list {

		li.mx-menubar-item {

			a {

			}
			&:hover a,
			&:focus a,
			&.active a {

			}
			&.active a {

            }
		}
	}

	/* Two menu items */
	&.menubar-col-6 ul.mx-menubar-list li.mx-menubar-item {
		
	}
	/* Three menu items */
	&.menubar-col-4 ul.mx-menubar-list li.mx-menubar-item {
		
	}
	/* Four menu items */
	&.menubar-col-3 ul.mx-menubar-list li.mx-menubar-item {
		
	}
	/* Five menu items */
	&.menubar-col-3 ul.mx-menubar-list li.mx-menubar-item {
		
	}
}
/* Vertical variation specifics */
.mx-menubar-vertical {
	
	ul.mx-menubar-list {
		li.mx-menubar-item {
			a {

			}

			&:hover a,
			&:focus a,
			&.active a {

			}
			&.active a {

            }
		}
	}
}

