/*
* Mendix Documentation
* Special styles for presenting mobile components
*/


/*
* Layout
*
* Default Mendix Layout 
*/

.profile-phone,
.profile-tablet {

	.mx-layoutcontainer-wrapper {
		
	}
	.mx-layoutcontainer-wrapper.mx-layoutcontainer-nested {
		
	}
}
